* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(254, 254, 254);
}

.funcionalidades {
    padding: 20px;
    background-color: rgb(137, 136, 134);
}

.funcionalidades h2 {
 color: rgb(44, 14, 212);
}

.secao-principal h1 {
    color: red;
}